.mainPodeAprender{
    background: #FFFFFF;
    padding: 4em 0 4em 0;

}

.mainComoFunciona{
    background: #F5F5F5; /*#F1F1F1 F3F5F8 E0E0E0 EEEEEE F5F5F5 #FAFAFA*/
    padding: 5em 0 8em 0;

    /*background: linear-gradient(to bottom, rgba(224,224,224,.89),rgba(224,224,224,.89),
    rgba(224,224,224,.89),rgba(224,224,224,.89),rgba(255,255,255,1));*/
}

.mainQueDizem{
    background: #FFFFFF;
    padding: 3em 0 5em 0;
}

.mainComoFunciona, .mainPodeAprender,
.mainQueDizem,
.funcionando, .dizendo,
footer{
    width: 100%;
}

div.podeAprender  p{
    text-decoration: none;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: justify;
}

div.podeAprender h1,
div.comoFunciona > div.row.text-center > h1,
div.queDizem h1{
    color: #353740;
}

div.podeAprender .podeAprenderDesc{
    width: 96%;
    padding-left: 17%;
}

.funcionando{
    margin-top: 1.8em;
}

/*.dizendo{
    padding-top: 1.3em;
}*/

div.queDizem h4{
    text-align: right;
    margin-right: 1.52em;
    font-size: 1.2em;
}

@media (max-width: 320px) {
    div.podeAprender  h1{
        margin: 0 0 .5em 1.5em;
        text-align: left;

    }

    div.podeAprender  p{
        font-size: 0.9em;
        margin-bottom: 1em;
        text-align: justify;
    }
    .rede{
         margin-bottom: 2em;
    }

    h1.slogan{
        position: absolute;
        top: 0;
        left: inherit;
        margin-left: 0;
        margin-top: 50%;
        font-size: 2em;
        color: #FAFAFA;
    }
}