html, body{
    background: #F1F1F1
}

body{
    overflow-x: hidden;
}

header{
    background-image: url("../img/vamosmarrar.jpg");
    height: 40em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav{
    /*background: #2C97DE;*/
    height: 5em;
    transition: all 1.6s;
    margin: 0;
    padding: 0;
}

header nav div button.btn{
    margin: 1.5em 5em 0 0;
    background: #FAFAFA;
    color: #2C97DE;
    border: none;
    text-transform: lowercase;
    letter-spacing: .045em;
    border-radius: 3em;
    width: 6em;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.3);
    font-weight: 100;
    text-decoration: none;
    line-height: 100%;
    font-family: Helvetica, sans-serif;
}

nav.navbar-inverse{
    background: transparent;
    border: none;
    border-radius: 0;
}

#login {
    margin: 1.5em 5em 0 0;
    background: #FAFAFA;
    color: #2C97DE;
    border: none;
    text-transform: lowercase;
    letter-spacing: .045em;
    border-radius: 3em;
    width: 6em;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.3);
    font-weight: 100;
    text-decoration: none;
    line-height: 100%;
    font-family: Helvetica, sans-serif;
}

.logo{
    padding-left: 5em;
}

footer{
    background: #2C97DE;
    height: 8em;
}

footer div.row{
    padding-top: 3.5%;
}

footer ul li{
   margin: 0;
    padding: 0 .8em 0 0;
    list-style: none;
    float: left;
}

footer a{
    color: #353740;
    display: block;
    width: auto;
    height: 20px;
    font-size: 1.1em;
    white-space: nowrap;

}

footer > div > div.col-lg-4 > nav > ul > li:nth-child(1) > a{
    background-image: url("../img/icons/facebook.png") ;
}
footer > div > div.col-lg-4 > nav > ul > li:nth-child(2) > a{
    background-image: url("../img/icons/twitter.png") ;
}

footer > div > div.col-lg-4 > nav > ul > li:nth-child(3) > a{
    background-image: url("../img/icons/google-plus.png") ;
}

footer > div > div.col-lg-4 > nav > ul > li:nth-child(1) > a,
footer > div > div.col-lg-4 > nav > ul > li:nth-child(2) > a,
footer > div > div.col-lg-4 > nav > ul > li:nth-child(3) > a{
    width: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: .7;
    font-size: 0;
}

footer > div > div.col-lg-4 > nav > ul > li:nth-child(1) > a:hover,
footer > div > div.col-lg-4 > nav > ul > li:nth-child(2) > a:hover,
footer > div > div.col-lg-4 > nav > ul > li:nth-child(3) > a:hover {
   opacity: 1;
}

footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer > div > div.col-lg-8 > nav > ul{
    padding-left: 58%;
    position: absolute;
}